// COLORS
$primary-color: #02aab0;
$secondary-color: #00cdac;
$gradient-color: rgba(45, 54, 75, 0.86);
$gradient-color2: rgba(67, 108, 123, 0.88);
$white-color: #fff;

$dark-grey: #12122b;
$dark: #222228;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
